<div widget class="card border-0">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0">Disk Space</h5>
        <div class="widget-controls">
            <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
            <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
            <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <div class="card-body pt-0 pl-2 pr-2 pb-2 widget-body">
        <div class="w-100 h-300p">
            <!--<kendo-chart>
                <kendo-chart-title text="Units sold"></kendo-chart-title>
                <kendo-chart-category-axis>
                    <kendo-chart-category-axis-item [categories]="['C:', 'D:', 'E:']">
                    </kendo-chart-category-axis-item>
                </kendo-chart-category-axis>
                <kendo-chart-series>
                    <kendo-chart-series-item type="bar" [stack]="{ type: '100%' }" [gap]="2" [spacing]=".25" [data]="[200, 223, 1636]"></kendo-chart-series-item>
                    <kendo-chart-series-item type="bar" [data]="[92.9, 127, 1583]"></kendo-chart-series-item>
                </kendo-chart-series>
            </kendo-chart>-->
        </div>
    </div>
</div>