$top-navbar-bg-color: #5c3f36;
$top-navbar-text-color: #d6cbc7;
$logo-color: #fff;
$logo-ng-color: #fff;
$main-bg-color: #f5f5f5;
$main-text-color: #565656;
$top-collapsible-bg-color: #785447;
$top-collapsible-icon-color: $top-navbar-text-color;
$messages-ddl-link-active-border-color: $top-navbar-bg-color;
$user-menu-bg-color: $top-navbar-bg-color;
$user-menu-text-color: $top-navbar-text-color;
$side-chat-item-color: #d6cbc7;
$side-chat-item-bg-color: #785447;
$side-chat-item-bottom-border-color: #f5f5f5;
$sidebar-bg-color: #785447;
$active-link-bg-color: #a57e71;
$sidebar-item-color: #d6cbc7;
$sidebar-item-hover-color: #fff;
$sidebar-item-hover-bg-color: $top-navbar-bg-color;
$sidebar-item-bottom-border-color: $top-navbar-bg-color;
$sidebar-item-bottom-border-shadow-color: #fff;
$sidebar-subitem-bg-color: #000;
$mini-sidebar-tooltip-color: #fff;
$mini-sidebar-tooltip-bg-color: #785447;
$mini-sidebar-tooltip-arrow-color: #785447;
$mini-horizontal-menu-tooltip-color: #fff;
$mini-horizontal-menu-tooltip-bg-color: #000;
$mini-horizontal-menu-tooltip-arrow-color: #000;
$footer-bg-color: #5c3f36;
$box-shadow-color: $sidebar-bg-color;
$card-header-color: #f2f2f2;
$card-header-bg-color: #f3f3f3;
$login-window-bg-color: #a57e71;
$login-header-bg-color: #785447;
$login-text-color: #f5f5f5;
$widget-controls-color: #a6a6a6;
$form-control-focus-border-color: #785447;
$primary-color: #3e50b4;
$dark-primary-color: #2f3e9e;
$success-color: #4bae4f;
$dark-success-color: #378d3b;
$info-color: #00bbd3;
$dark-info-color: #0096a6;
$warning-color: #fe9700;
$dark-warning-color: #f47b00;
$danger-color: #f34235;
$dark-danger-color: #d22e2e;
$gray-color: #9d9d9d;
$dark-gray-color: #606060;
$inverse-color: #292b2c;
$dark-inverse-color: #1c1e1f;
$breadcrumb-color: #3e50b4;