<div class="row mb-3">
    <div class="col-xl-3 col-lg-6 col-md-6 mb-4">
        <div class="card border-0 bg-info">
            <div class="card-header border-0 transparent text-white d-flex justify-content-between">
                <span>Total orders</span>
                <span><i class="fa fa-long-arrow-up mr-1"></i>16%</span>
            </div>
            <div class="card-body p-0">
                <div class="w-100 h-100p">
                    <!--<kendo-chart>
                        <kendo-chart-axis-defaults [line]="{ color: 'red' }">
                            <kendo-chart-axis-defaults-labels font="12pt sans-serif">
                            </kendo-chart-axis-defaults-labels>
                        </kendo-chart-axis-defaults>

                        <kendo-chart-category-axis>
                            <kendo-chart-category-axis-item [categories]="categories">
                            </kendo-chart-category-axis-item>
                        </kendo-chart-category-axis>

                        <kendo-chart-series>
                            <kendo-chart-series-item [data]="seriesData" type="line">
                            </kendo-chart-series-item>
                        </kendo-chart-series>
                    </kendo-chart>-->
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 mb-4">
        <div class="card border-0 bg-warning">
            <div class="card-header border-0 transparent text-white d-flex justify-content-between">
                <span>Products profit</span>
                <span><i class="fa fa-long-arrow-up mr-1"></i>38%</span>
            </div>
            <div class="card-body p-0">
                <div class="w-100 h-100p">
                    <!--<kendo-chart>
                        <kendo-chart-axis-defaults [line]="{ color: 'red' }">
                            <kendo-chart-axis-defaults-labels font="12pt sans-serif">
                            </kendo-chart-axis-defaults-labels>
                        </kendo-chart-axis-defaults>

                        <kendo-chart-category-axis>
                            <kendo-chart-category-axis-item [categories]="categories">
                            </kendo-chart-category-axis-item>
                        </kendo-chart-category-axis>

                        <kendo-chart-series>
                            <kendo-chart-series-item [data]="seriesData" type="line">
                            </kendo-chart-series-item>
                        </kendo-chart-series>
                    </kendo-chart>-->
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 mb-4">
        <div class="card border-0 bg-danger">
            <div class="card-header border-0 transparent text-white d-flex justify-content-between">
                <span>Customers</span>
                <span><i class="fa fa-long-arrow-down mr-1"></i>-7%</span>
            </div>
            <div class="card-body p-0">
                <div class="w-100 h-100p">
                    <!--<kendo-chart>
                        <kendo-chart-axis-defaults [line]="{ color: 'red' }">
                            <kendo-chart-axis-defaults-labels font="12pt sans-serif">
                            </kendo-chart-axis-defaults-labels>
                        </kendo-chart-axis-defaults>

                        <kendo-chart-category-axis>
                            <kendo-chart-category-axis-item [categories]="categories">
                            </kendo-chart-category-axis-item>
                        </kendo-chart-category-axis>

                        <kendo-chart-series>
                            <kendo-chart-series-item [data]="seriesData" type="line">
                            </kendo-chart-series-item>
                        </kendo-chart-series>
                    </kendo-chart>-->
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 mb-4">
        <div class="card border-0 bg-primary">
            <div class="card-header border-0 transparent text-white d-flex justify-content-between">
                <span>Refunds</span>
                <span><i class="fa fa-long-arrow-up mr-1"></i>12%</span>
            </div>
            <div class="card-body p-0">
                <div class="w-100 h-100p">
                    <!--<kendo-chart>
                        <kendo-chart-axis-defaults [line]="{ color: 'red' }">
                            <kendo-chart-axis-defaults-labels font="12pt sans-serif">
                            </kendo-chart-axis-defaults-labels>
                        </kendo-chart-axis-defaults>

                        <kendo-chart-category-axis>
                            <kendo-chart-category-axis-item [categories]="categories">
                            </kendo-chart-category-axis-item>
                        </kendo-chart-category-axis>

                        <kendo-chart-series>
                            <kendo-chart-series-item [data]="seriesData" type="line">
                            </kendo-chart-series-item>
                        </kendo-chart-series>
                    </kendo-chart>-->
                </div>
            </div>
        </div>
    </div>
</div>