<div id="user-info" class="row align-items-center">
    <div class="col-md-5">
        <div class="d-flex justify-content-center align-items-center pt-md-0 pt-3 info">
            <img src="../../../assets/images/avatar-3.jpg" class="rounded-circle user-img" />
            <div class="d-flex flex-column pl-3">
                <h5 class="mb-0">Obi-Wan Kenobi <i class="fa fa-check-circle fs-13 text-success ml-2"></i></h5>
                <span>Project manager</span>
                <div class="pt-3">
                    <button class="btn btn-success">Profile</button>
                    <button class="btn btn-gray">Modifier</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="row py-4">
            <div class="col-lg-7 col-sm-8 col-12 left-border">
                <div class="info w-280p mx-auto text-center">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" placeholder="Dossier de réception">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" placeholder="Sujets">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control form-control-sm" placeholder="Message" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-sm btn-gray"><i class="fa fa-paper-plane mr-2"></i>Send</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 col-sm-4 left-border hidden-xs-down">
                <div class="info w-100p mx-auto">
                    <div class="custom-controls-stacked">
                        <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" checked>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Notifications</span>
            </label>
                        <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" checked>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Tâches</span>
            </label>
                        <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Evenements</span>
            </label>
                        <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" checked>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Télécharger</span>
            </label>
                        <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" checked>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Messages</span>
            </label>
                        <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Updates</span>
            </label>
                        <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" checked>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Configuration</span>
            </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>