<nav class="navbar box-shadow app-header" [class.fixed-top]="settings.theme.navbarIsFixed" [class.logo-visible]="settings.theme.showTopCollapsibleContent">
    <!---->
    <div class="d-flex flex-column w-100">

        <!--<div id="info-content" [collapse]="!settings.theme.showTopCollapsibleContent">
          <a class="close" data-toggle="collapse" (click)="settings.theme.showTopCollapsibleContent = !settings.theme.showTopCollapsibleContent" [class.show]="settings.theme.showTopCollapsibleContent">
            <span aria-hidden="true">&times;</span>
          </a>
          <div class="row align-items-center">
            <div class="col-md-5">
              <div class="d-flex justify-content-center align-items-center pt-md-0 pt-3 info">
                <img src="../../../../assets/img/users/user.jpg" class="rounded-circle user-img">
                <div class="d-flex flex-column pl-3">
                  <h5 class="mb-0">Emilio Verdines <i class="fa fa-check-circle fs-13 text-success ml-2"></i></h5>
                  <span>Project menecer</span>
                  <div class="pt-3">
                    <button class="btn btn-success">Profile</button>
                    <button class="btn btn-gray">Edit</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="row py-4">
                <div class="col-lg-7 col-sm-8 col-12 left-border">
                  <div class="info w-280p mx-auto text-center">
                    <form>
                      <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Recipients">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Subject">
                      </div>
                      <div class="form-group">
                        <textarea class="form-control form-control-sm" placeholder="Message" rows="3"></textarea>
                      </div>
                      <button type="submit" class="btn btn-sm btn-gray"><i class="fa fa-paper-plane mr-2"></i>Send</button>
                    </form>
                  </div>
                </div>
                <div class="col-lg-5 col-sm-4 left-border hidden-xs-down">
                  <div class="info w-100p mx-auto">
                    <div class="custom-controls-stacked">
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" checked>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Notifications</span>
                      </label>
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" checked>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Tasks</span>
                      </label>
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Events</span>
                      </label>
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" checked>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Downloads</span>
                      </label>
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" checked>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Messages</span>
                      </label>
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Updates</span>
                      </label>
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" checked>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Settings</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>-->

        <div id="top-collapsible" [collapse]="!settings.theme.showTopCollapsibleContent">
            <a class="close" data-toggle="collapse" (click)="settings.theme.showTopCollapsibleContent = !settings.theme.showTopCollapsibleContent" [class.show]="settings.theme.showTopCollapsibleContent">
                <span aria-hidden="true">&times;</span>
            </a>
            <router-outlet name="top"></router-outlet>
        </div>

        <div class="d-flex justify-content-start align-items-center top-navbar">

            <a class="logo" routerLink="/dashboard">
                <span class="start">DW</span><span class="ng">RE</span>
            </a>
            <span class="navbar-text menu-icon transition ml-3 mr-3" [ngClass]="{'open': settings.theme.showMenu}" (click)="settings.theme.showMenu = !settings.theme.showMenu">
                <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
            </span>

            <div class="ml-2 mr-2 hidden-xs-down">
                <a id="top-collapsible-icon" (click)="settings.theme.showTopCollapsibleContent = !settings.theme.showTopCollapsibleContent" class="d-flex" [class.show]="settings.theme.showTopCollapsibleContent">
                    <div [@showInfo]="settings.theme.showTopCollapsibleContent" class="triangle"></div>
                </a>
            </div>

            <app-breadcrumb></app-breadcrumb>

            <app-favorites></app-favorites>

            <div class="top-rigth-icons ml-auto">
                <span class="hidden-xs-down">
                    <app-flags-menu></app-flags-menu>
                </span>
                <span class="hidden-xs-down">
                    <app-fullscreen></app-fullscreen>
                </span>
                <span class="hidden-xs-down">
                    <app-applications></app-applications>
                </span>
                <span class="hidden-xs-down">
                    <app-messages></app-messages>
                </span>
                <span class="hidden-xs-down">
                    <app-user-menu></app-user-menu>
                </span>
                <span class="pl-2 pr-2">
                    <a (click)="settings.theme.showSetting=!settings.theme.showSetting">
                        <i class="fa fa-gear" aria-hidden="true"></i>
                    </a>
                </span>
            </div>
        </div>

        <!-- <div class="horizontal-menu-outer" *ngIf="settings.theme.menu == 'horizontal'">
            <app-horizontal-menu *ngIf="showHorizontalMenu" [menuItems]="menuItems"></app-horizontal-menu> 
            <app-vertical-menu *ngIf="!showHorizontalMenu" [menuItems]="menuItems"></app-vertical-menu>
        </div>
      -->
    </div>
</nav>